{% extends 'base.html' %}

{% block content %}
     <h3> {{ tale.title }}</h3>
    <div>{{ tale.main_text }} </div>
    <p>{{ tale.question }}</p>
    <form>
        {% csrf_token %}
            {% for i in answer_form %}
                <div class="form-group">
                    {{i}}
                </div>
            {% endfor %}
          <button type="submit"><a href="{{ next_tale.get_absolute_url }}" >Submit</a></button>
    </form>
{% endblock %}