{% extends 'base.html' %}

{% block content %}
    {% for tale in tales %}
        <div>
            <h3><a href="{{ tale.get_absolute_url }}">{{tale.title}}</a></h3>
            <p>{{ tale.main_text|truncatewords:20 }}</p>
        </div>
    {% endfor %}
{% endblock %}}