{% extends 'base.html' %}

{% block content %}
    <div>
        <a href="{%url 'tale_to_complete_list_url'%}" >Сказки для дополнения</a>
    </div>
    <div>
        <a href="{%url 'complete_tale_list_url'%}">Сказки для прохождения </a>
    </div>
    <div>
        <a href="{%url 'labtale_list_url'%}">Сказки-Лабиринты</a>
    </div>
{% endblock %}