{% extends 'base.html' %}

{% block content %}
    <h3> {{ tale.title }}</h3>
    <div>{{ tale.main_text }} </div>
    <p>{{ tale.question }}</p>
    {% for answer in answers %}
        <p><a href="{{ answer.go_to.get_absolute_url }}">{{ answer.text }}</a></p>
    {% endfor %}
{% endblock %}