{% extends 'story_base.html' %}

{% block content %}
    <div class="container">
        <h1>Create Answer</h1>
        <form action="{% url 'answer_create'  %}" method="POST" enctype="multipart/form-data">
            {% include 'partial/form.html' %}
            <input type="submit" value="Add answer" class="btn btn-primary">
            <a class="btn btn-secondary" href="{% url 'nehome' %}">Cancel</a>
        </form>
    </div>
{% endblock %}
