{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Smart Jomok{% endblock %}</title>
    <link rel="icon" href="{% static 'img/favicon.png' %}">
    <link href="https://fonts.googleapis.com/css?family=Clicker+Script" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontello-2f186091/css/fontello.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
    {% if user.is_authenticated%}
      <link rel="stylesheet" type="text/css" href="{% static 'css/student.css' %}">
    {% endif %}
  </head>
  <body>
    <div class="container my-4">
      <div class="row justify-content-center">
        <div class="col-md-10 col-sm-12">
          <div class="row">
            <div class="col-6">
              <h1 class="logo">
                <a href="{% url 'home' %}">
                  Smart Jomok
                  {% if user.is_authenticated %}
{#                    {% if user.is_teacher %}#}
{#                      <span class="icon-feather" data-toggle="tooltip" data-placement="right" title="Teacher profile"></span>#}
{#                    {% else %}#}
                      <span class="icon-graduation-cap" data-toggle="tooltip" data-placement="right" title="Student profile"></span>
                    {% endif %}
{#                  {% endif %}#}
                </a>
              </h1>
            </div>
            <div class="col-6 text-right">
              {% if user.is_authenticated %}
                <p class="pt-3">Вы вошли как <strong>{{ user.username }}</strong>. <a href="{% url 'logout' %}">Log out</a>.</p>
              {% else %}

<!--                <a href="{% url 'signup' %}" class="btn btn-primary" role="button">Sign up</a>-->
              {% endif %}
            </div>
          </div>
          <div class="card mb-3">
            <div class="card-body">
              {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              {% endfor %}
              {% block content %}
              {% endblock %}
            </div>
          </div>
          <footer>
            <a>© 2020</a>
            /
            <a>Hackaton</a>
            /
            <a>UTL</a>
          </footer>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript">
      $(function () {
        $('[data-toggle="tooltip"]').tooltip();
      })
    </script>
  </body>



{#=======#}
{#{% load static %}#}
{##}
{#<!DOCTYPE HTML>#}
{#<html>#}
{##}
{#<head>#}
{#	<title> Smart_jomok </title>#}
{#	<meta charset="utf-8" />#}
{#	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />#}
{#	<link rel="stylesheet" href="{% static 'css/main.css' %}">#}
{#	<noscript>#}
{#		<link rel="stylesheet" href="static/css/noscript.css" /></noscript>#}
{#</head>#}

{#<body class="is-preload">#}
{##}
{#	<!-- Wrapper -->#}
{#	<div id="wrapper">#}
{##}
{#		<!-- Header -->#}
{#		<header id="header" class="alt">#}
{#			<span class="logo"><img src="{% static 'images/logo.svg' %}" alt="" /></span>#}
{#			<h1> Smart jomok </h1>#}
{#			<p> Сказкотерапия как метод культурно-психологического воздействия на личность <br /></p>#}
{#		</header>#}
{##}
{#		<!-- Nav -->#}
{#		<nav id="nav">#}
{#			<ul>#}
{#				<li><a href="#intro" class="active"> About </a></li>#}
{#				<li><a href="#first"> TaleToComplete </a></li>#}
{#				<li><a href="#second"> CompleteTale </a></li>#}
{#				<li><a href="#cta"> LabTale </a></li>#}
{#			</ul>#}
{#		</nav>#}
{##}
{#		<!-- Main -->#}
{#		<div id="main">#}
{##}
{#			<!-- Introduction -->#}
{#			<section id="intro" class="main">#}
{#				<div class="spotlight">#}
{#					<div class="content">#}
{#						<header class="major">#}
{#							<h2> Сказкотерапия </h2>#}
{#						</header>#}
{#						<p> Сказкотерапия — это «лечение сказкой», один из самых доступных#}
{#							и в то же время эффективных методов корректирования поведения и сознания ребенка.#}
{#							В сказкотерапии используются терапевтические сказки – истории,#}
{#							рассказывающие о проблемах и переживаниях, с которыми сталкивается ребенок. </p>#}
{#						<ul class="actions">#}
{#							<li><a href="generic.html" class="button"> Узнать больше </a></li>#}
{#						</ul>#}
{#					</div>#}
{#					<span class="image"><img src="{% static 'images/pic01.jpg' %}" alt="" /></span>#}
{#				</div>#}
{#			</section>#}
{##}
{#			<!-- First Section -->#}
{#			<section id="first" class="main special">#}
{#				<header class="major">#}
{#					<h2> Виды сказок </h2>#}
{#				</header>#}
{#				<ul class="features">#}
{#					<li>#}
{#						<span class="icon major style3 fa-copy"></span>#}
{#						<h3> TaleToComplete </h3>#}
{#						<p> Сказка, которую будут оканчивать пользователи. </p>#}
{#					</li>#}
{#					<li>#}
{#						<span class="icon major style3 fa-copy"></span>#}
{#						<h3> CompleteTale </h3>#}
{#						<p> Оконченная сказка, разделенная на части, после каждой части задается вопрос. </p>#}
{#					</li>#}
{#					<li>#}
{#						<span class="icon major style3 fa-copy"></span>#}
{#						<h3> LabTale </h3>#}
{#						<p> Оконченная сказка, разделенная на части, после каждой части задается вопрос. </p>#}
{#					</li>#}
{#				</ul>#}
{#			</section>#}
{#			<!-- Get Started -->#}
{#			<section id="cta" class="main special">#}
{#				<header class="major">#}
{#					<h2>Congue imperdiet</h2>#}
{#					<p>Donec imperdiet consequat consequat. Suspendisse feugiat congue<br />#}
{#						posuere. Nulla massa urna, fermentum eget quam aliquet.</p>#}
{#				</header>#}
{#				<footer class="major">#}
{#					<ul class="actions special">#}
{#						<li><a href="generic.html" class="button primary">Get Started</a></li>#}
{#						<li><a href="generic.html" class="button">Learn More</a></li>#}
{#					</ul>#}
{#				</footer>#}
{#			</section>#}
{##}
{#		</div>#}
{##}
{#		<!-- Footer -->#}
{#		<footer id="footer">#}
{#			<section>#}
{#				<h2> Smart jomok </h2>#}
{#				<p> Мы очень надеемся, что наше приложение будет полезно..#}
{#					  С верой в лучшее,#}
{#					Unique Technologies#}
{#				</p>#}
{#				<ul class="actions">#}
{#					<li><a href="generic.html" class="button"> Узнать больше о компании </a></li>#}
{#				</ul>#}
{#			</section>#}
{#			<section>#}
{#				<h2> Контакты </h2>#}
{#				<dl class="alt">#}
{#					<dt> Адрес </dt>#}
{#					<dd> 265 пр. Чуй &bull; Бишкек &bull; Кыргызстан </dd>#}
{#					<dt> Телефон </dt>#}
{#					<dd> +996 772‒66‒25‒36 </dd>#}
{#					<dt> Website </dt>#}
{#					<dd><a href="#"> www.ut.kg </a></dd>#}
{#				</dl>#}
{#				<ul class="icons">#}
{#					<li><a href="#" class="icon brands fa-twitter alt"><span class="label">Twitter</span></a></li>#}
{#					<li><a href="#" class="icon brands fa-facebook-f alt"><span class="label">Facebook</span></a></li>#}
{#					<li><a href="#" class="icon brands fa-instagram alt"><span class="label">Instagram</span></a></li>#}
{#					<li><a href="#" class="icon brands fa-github alt"><span class="label">GitHub</span></a></li>#}
{#					<li><a href="#" class="icon brands fa-dribbble alt"><span class="label">Dribbble</span></a></li>#}
{#				</ul>#}
{#			</section>#}
{#			<p class="copyright">&copy; Untitled. </p>#}
{#		</footer>#}
{##}
{#	</div>#}
{##}
{#	<!-- Scripts -->#}
{#	<script src="static/js/jquery.min.js"></script>#}
{#	<script src="static/js/jquery.scrollex.min.js"></script>#}
{#	<script src="static/js/jquery.scrolly.min.js"></script>#}
{#	<script src="static/js/browser.min.js"></script>#}
{#	<script src="static/js/breakpoints.min.js"></script>#}
{#	<script src="static/js/util.js"></script>#}
{#	<script src="static/js/main.js"></script>#}
{##}
{#</body>#}

{#>>>>>>> 46c8bda3ec074748122a4317351424111e8edda5#}
</html>

