{% extends 'base.html' %}

{% block content %}
  <h2>Добро пожаловать в Smart-Jomok! <span class="icon-emo-happy"></span></h2>

  <hr>
  <h3>Что это такое?</h3>
  <p>
    Это веб-сервис помогающий психологам, учителям, воспитателям и родителям
    лучше узнать своих детей через сказки. Приложение можно использовать как в образовательных
    так и диагностических целях.
  </p>
  <a href="{% url 'index_url' %}" class="btn btn-primary" role="button">Поехали!</a>
  <p>"Если вы хотите, чтобы ваши дети были умными, читайте им сказки. Если вы хотите, чтобы они были умнее, читайте им ещё больше сказок."
    —  Альберт Эйнштейн</p>

{% endblock %}