{#{% extends 'base.html' %}#}
{##}
{#{% block title %}Sign Up{% endblock %}#}
{##}
{#{% block content %}#}
{#  <h2>Sign up</h2>#}
{#  <form method="post">#}
{#    {% csrf_token %}#}
{#    {{ form.as_p }}#}
{#    <button type="submit">Sign up</button>#}
{#  </form>#}
{#{% endblock %}#}

{% extends 'base.html' %}

{% block content %}
  <h2>Sign up for a free account</h2>
  <p class="lead">Select below the type of account you want to create</p>
  <a href="{% url 'signup' %}" class="btn btn-student btn-lg" role="button">Я Новенький(ая)</a>
{#  <a href="{% url 'teacher_signup' %}" class="btn btn-teacher btn-lg" role="button">I'm a teacher</a>#}
{% endblock %}