<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Django Auth{% endblock %}</title>
</head>
<body>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
{% load static %}

<!DOCTYPE HTML>
<html>

<head>
	<title> Smart_jomok </title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<noscript>
		<link rel="stylesheet" href="static/css/noscript.css" /></noscript>
</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header" class="alt">
			<span class="logo"><img src="{% static 'images/logo.svg' %}" alt="" /></span>
			<h1> Smart jomok </h1>
			<p> Сказкотерапия как метод культурно-психологического воздействия на личность <br /></p>
		</header>

		<!-- Nav -->
		<nav id="nav">
			<ul>
				<li><a href="#intro" class="active"> About </a></li>
				<li><a href="{% url 'tale_to_complete' %}"> TaleToComplete </a></li>
				<li><a href={% url 'complete_tale' %}> CompleteTale </a></li>
				<li><a href="#cta"> LabTale </a></li>
			</ul>
		</nav>

		<!-- Main -->
		<div id="main">

			<!-- Introduction -->
			<section id="intro" class="main">
				<div class="spotlight">
					<div class="content">
						<header class="major">
							<h2> Сказкотерапия </h2>
						</header>
						<p> Сказкотерапия — это «лечение сказкой», один из самых доступных
							и в то же время эффективных методов корректирования поведения и сознания ребенка.
							В сказкотерапии используются терапевтические сказки – истории,
							рассказывающие о проблемах и переживаниях, с которыми сталкивается ребенок. </p>
						<ul class="actions">
							<li><a href="#" class="button"> Узнать больше </a></li>
						</ul>
					</div>
					<span class="image"><img src="{% static 'images/pic01.jpg' %}" alt="" /></span>
				</div>
			</section>

			<!-- First Section -->
			<section id="first" class="main special">
				<header class="major">
					<h2> Виды сказок </h2>
				</header>
				<ul class="features">
					<li>
						<span class="icon major style3 fa-copy"></span>
						<h3><a href="{% url 'tale_to_complete' %}">TaleToComplete</a></h3>
						<p> Сказка, которую будут оканчивать пользователи. </p>
					</li>
					<li>
						<span class="icon major style3 fa-copy"></span>
						<h3><a href="{% url 'complete_tale' %}">CompleteTale</a></h3>
						<p> Оконченная сказка, разделенная на части, после каждой части задается вопрос. </p>
					</li>
					<li>
						<span class="icon major style3 fa-copy"></span>
						<h3><a href="#">LabTale</a></h3>
						<p> Оконченная сказка, разделенная на части, после каждой части задается вопрос. </p>
					</li>
				</ul>
			</section>
			<!-- Get Started -->
			<section id="cta" class="main special">
				<header class="major">
					<h2>Congue imperdiet</h2>
					<p>Donec imperdiet consequat consequat. Suspendisse feugiat congue<br />
						posuere. Nulla massa urna, fermentum eget quam aliquet.</p>
				</header>
				<footer class="major">
					<ul class="actions special">
						<li><a href="generic.html" class="button primary">Get Started</a></li>
						<li><a href="generic.html" class="button">Learn More</a></li>
					</ul>
				</footer>
			</section>

		</div>

		<!-- Footer -->
		<footer id="footer">
			<section>
				<h2> Smart jomok </h2>
				<p> Мы очень надеемся, что наше приложение будет полезно..
					  С верой в лучшее,
					Unique Technologies
				</p>
				<ul class="actions">
					<li><a href="generic.html" class="button"> Узнать больше о компании </a></li>
				</ul>
			</section>
			<section>
				<h2> Контакты </h2>
				<dl class="alt">
					<dt> Адрес </dt>
					<dd> 265 пр. Чуй &bull; Бишкек &bull; Кыргызстан </dd>
					<dt> Телефон </dt>
					<dd> +996 772‒66‒25‒36 </dd>
					<dt> Website </dt>
					<dd><a href="#"> www.ut.kg </a></dd>
				</dl>
				<ul class="icons">
					<li><a href="#" class="icon brands fa-twitter alt"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon brands fa-facebook-f alt"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon brands fa-instagram alt"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon brands fa-github alt"><span class="label">GitHub</span></a></li>
					<li><a href="#" class="icon brands fa-dribbble alt"><span class="label">Dribbble</span></a></li>
				</ul>
			</section>
			<p class="copyright">&copy; Untitled. </p>
		</footer>

	</div>

	<!-- Scripts -->
	<script src="static/js/jquery.min.js"></script>
	<script src="static/js/jquery.scrollex.min.js"></script>
	<script src="static/js/jquery.scrolly.min.js"></script>
	<script src="static/js/browser.min.js"></script>
	<script src="static/js/breakpoints.min.js"></script>
	<script src="static/js/util.js"></script>
	<script src="static/js/main.js"></script>

</body>

</html>
